@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400..800&display=swap");

@import "tailwindcss";

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  /* font-weight: 400; */
}
p {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f8f9fa;
  font-family: "Poppins", sans-serif;
}

.font-notoSans {
  font-family: "Noto Sans Bengali", sans-serif;
  font-size: 1.2rem;
}

.font-balooDa {
  font-family: "Baloo Da 2", sans-serif;
  /* font-size: 1.5rem; */
}

/* download as pdf button */
.button-ones {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  color: #0f1923;
  cursor: pointer;
  position: relative;
  padding: 8px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.15s ease;
}

.button-ones::before,
.button-ones::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: calc(50% - 5px);
  border: 1px solid #7d8082;
  transition: all 0.15s ease;
}

.button-ones::before {
  top: 0;
  border-bottom-width: 0;
}

.button-ones::after {
  bottom: 0;
  border-top-width: 0;
}

.button-ones:active,
.button-ones:focus {
  outline: none;
}

.button-ones:active::before,
.button-ones:active::after {
  right: 3px;
  left: 3px;
}

.button-ones:active::before {
  top: 3px;
}

.button-ones:active::after {
  bottom: 3px;
}

.button_lg {
  position: relative;
  display: block;
  padding: 10px 20px;
  color: #fff;
  background-color: #0097b2;
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px transparent;
}

.button_lg::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background-color: #0f1923;
}

.button_lg::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4px;
  height: 4px;
  background-color: #0f1923;
  transition: all 0.2s ease;
}

.button_sl {
  display: block;
  position: absolute;
  top: 0;
  bottom: -1px;
  left: -8px;
  width: 0;
  background-color: #c0392b;
  transform: skew(-15deg);
  transition: all 0.2s ease;
}

.button_text {
  position: relative;
}

.button-ones:hover {
  color: #0f1923;
}

.button-ones:hover .button_sl {
  width: calc(100% + 15px);
}

.button-ones:hover .button_lg::after {
  background-color: #fff;
}

/* footer */

/* promotion section responsive design */

/* Style disabled dates in react-datepicker */

.react-datepicker__day--disabled {
  color: #999 !important;
  cursor: not-allowed !important;
  opacity: 0.5;
  pointer-events: none; /* ensures no clicks */
}

.react-datepicker__day:hover:not(.react-datepicker__day--disabled) {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

@media (max-width: 768px) {
  .mobile-only {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
